body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #fff8f0;
  margin: 0;
  padding: 20px;
}

header {
  background-color: #ffc0cb;
  padding: 1px;
  text-align: center;
}

.logo {
  width: 290px;
  margin-bottom: 10px;
}

h1 {
  color: #d63384;
  margin: 10px 0;
}

p {
  color: #555;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}

iframe {
  width: 315px;   
  height: 560px;
  border: none;
  border-radius: 10px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.links a {
  text-decoration: none;
  color: #d63384;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.2s;
}

.links a:hover {
  transform: scale(1.1);
}

.links img {
  width: 28px;
  height: 28px;
}
