body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, #ffffff 55%, #e5c5e0 40%);
    overflow: hidden;
}
.conteiner {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    min-height: 100vh;
    padding: 20px;
}

/*Imagem do Site*/
.img {
    margin: 0;
    width: 650px;
    border-radius: 20px;
    animation: float 2s ease-in-out infinite;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}
.moverimagem {
    width: 50vw;
    max-width: 100%;
    margin-left: -50px;
}

/*Formularios*/
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 60px;
    width: 400px;
    gap: 4px;
    height: 490px;
    max-width: 100%;
}
.moverform {
    width: 50vw;
    margin-left: 153px;
    margin-top: -60px;
    max-width: 100%;
   
}
.formulario h1 {
    font-size: 32px;
    margin-bottom: 15px;
    margin-left: 90px;
    font-family: "Alan Sans", sans-serif;
}
.formulario label {
    font-size: 15px;
    font-family: "Alan Sans", sans-serif;
}
.formulario input[type="password"],
.formulario input[type="text"],
.formulario input[type="email"] {
    width: 100%px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #e5c5e0;
    padding: 10px 5px;
    outline: none;
    transition: 0.3s;
    gap: 30px;
    font-size: 12pt;
    box-sizing: border-box;
}

/*Botão Criar e Já Possui uma Conta*/
a {
  text-decoration: none; 
  padding: 10px 10px;    
  background-color: #e5c5e0;           
  border-radius: 20px;  
  color: black;  
  cursor: pointer;      
  margin: 5px;
  text-align: center;
  font-family: "Alan Sans", sans-serif;
}
