body {
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    color: #333;
    margin: 2px;
    padding: 0;
}

header {
    background-color: #ffc0cb;
    text-align: center;
    padding: 10px;
}

header img {
    height: 120px;
    width: auto;
}

h2 {
    text-align: center;
    color: rgb(41, 41, 41);
    margin: 25px 0 15px;
}

/* === Produtos === */
.produtos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 48%;
}

.produto {
    background-color: #fff;
    border: 1px solid #f0bebe;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.produto img {
    width: 100%;
    height:270px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.produto h3 {
    margin: 5px 0 8px;
    color: #b03;
}

.produto p {
    margin: 8px 0 0;
    font-weight: bold;
    color: #555;
}

/* === Botões === */
button {
    background-color: #ffb6c1;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background-color: #ff8fa3;
}

/* === Rodapé === */
footer {
    background-color: #f8c8c8;
    text-align: center;
    padding: 20px 10px;
    margin-top: 40px;
}

footer h3 {
    color: #a33;
    margin-bottom: 10px;
}

footer .icones {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

footer .icones img {
    width: 35px;
    height: 35px;
    transition: transform 0.2s;
}

footer .icones img:hover {
    transform: scale(1.1);
}

footer p {
    font-size: 0.9em;
    color: #333;
}

/* === Responsivo === */
@media (max-width: 768px) {
    .produtos {
        flex-direction: column;
        align-items: center;
    }
    .coluna {
        width: 90%;
    }
}
